* {
    --default-font: 'Righteous', cursive;
    --title-font: 'Sora', sans-serif;
    --text-font: 'M PLUS Rounded 1c', sans-serif;
}

/* COLOR STYLES */
.dark {
    background-color: rgb(12, 12, 12, .32);
    color: rgb(230, 230, 230);
}
.rdark {
    background-color: rgb(0, 0, 0, .32);
    color: rgb(230, 230, 230);
}
.inv {
    background-color: rgba(0, 0, 0, 0);
}

body {
    user-select: none;
    overflow-x: hidden;
    overflow-y: scroll;

    background: rgb(29,29,29);
    background: linear-gradient(12deg, rgba(29,29,29,1) 0%, rgba(71,71,71,1) 100%);
    width: 100vw;
    height: 100vh;
}



/* SIZES */
.w100 {
    height: 100%;
}
.img {
    max-width: 100%;
    height: auto;
}

.logobtn {
    float: left;
    display: hidden !important;
    overflow: hidden;
    color:rgb(26, 26, 26, 0) !important;
    background-color: rgb(0,0,0,0) !important;
    border: none !important;
}

.logo {
    width: 3vw;
            
    justify-self: center;
    align-self: center;
    margin: auto;

    margin-top: .3vw !important;
    margin-bottom: .3vw !important;

    margin-right: 3vw !important;
    margin-left: 1vw !important;

    filter:brightness(0) invert(1);
}

/* CLASSES */
.topbar {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.topbar a {
    float: left;
    display: block;
    color: rgb(230, 230, 230);
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    text-decoration: none;
    font-size: clamp(.3vw, .85vw, 1.3vw);
    font-family: var(--default-font);
    user-select: none;

    margin-top: .3vw !important;
    margin-bottom: .3vw !important;
    margin-right: 1vw !important;
    width: 7vw !important;
    height: 100% !important;
    
    border-radius: 1vw;

    transition: color 0.2s ease-in-out;
}
.topbar a.active {
    background-color: rgb(61, 103, 192);
    color: rgb(230, 230, 230);      
}
.topbar a:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(61, 103, 192);
}
.topbar a.disable {
    cursor:not-allowed;
    color: rgb(121, 121, 121);
}
.topbar a.disable:hover{
    cursor:not-allowed;
    background-color:rgb(26, 26, 26, 0);
    pointer-events: none;
}

/* IMPORTANT */
.content {
    overflow: hidden;

    margin: auto;
    padding: auto;

    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.content h1 {
    font-size: clamp(1.5vw, 3vw, 5vw);
    font-family:var(--title-font);
    font-weight: 800;
    letter-spacing: .3vw;

    margin-top: 4vw;

    text-align: center;
    user-select: none;
}

.content span textarea {
    font-size: clamp(.35vw, 1vw, 1.34vw);
    font-family:var(--text-font);

    font-weight: 800;
    border: none;
    border-radius: 1vw;

    resize: none;
    width: 65vw;
    height: 50vh;

    padding: 1.45rem;

    text-align: center;
    vertical-align: middle;

    text-decoration: none; 
    outline: none !important;

    margin-top: .3vw;
}

.input {
    font-size: clamp(.3vw, .85vw, 1.3vw);
    font-family:var(--default-font);
    font-weight: 800;
    letter-spacing: .1vw;

    cursor: pointer;    

    border: none;
    border-radius: 1vw;

    padding: .5vw 1vw .5vw 1vw;

    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-inline: .3vh          ;

    transition: background-color 0.2s ease-in-out;
}
.input:hover {
    background-color: rgb(230, 230, 230);
    color: rgb(24,24,24);
}

.primary {
    background-color: rgb(61, 103, 192);
    color: rgb(230, 230, 230);
}
.red {
    background-color: rgb(192, 61, 61);
    color: rgb(230, 230, 230);
}
.org {
    background-color: rgb(192, 103, 61);
    color: rgb(230, 230, 230);
}

.content span h4 {
    font-size: clamp(.3vw, .85vw, 1.3vw);
    font-family:var(--title-font);
    font-weight: 800;
    letter-spacing: .1vw;

    margin-top: 0;
    margin-bottom: 1vw;
    margin-inline: .3vh;

    user-select: none;
}